<h1>Listing authors</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Salt</th>
    <th>Salted password</th>
    <th>Token</th>
    <th>Token expiry</th>
  </tr>

<% for author in @authors %>
  <tr>
    <td><%=h author.firstname %></td>
    <td><%=h author.lastname %></td>
    <td><%=h author.email %></td>
    <td><%=h author.salt %></td>
    <td><%=h author.salted_password %></td>
    <td><%=h author.token %></td>
    <td><%=h author.token_expiry %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New author', new_author_path %>
