<p>
  <b>Firstname:</b>
  <%=h @author.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @author.lastname %>
</p>

<p>
  <b>Email:</b>
  <%=h @author.email %>
</p>

<p>
  <b>Salt:</b>
  <%=h @author.salt %>
</p>

<p>
  <b>Salted password:</b>
  <%=h @author.salted_password %>
</p>

<p>
  <b>Token:</b>
  <%=h @author.token %>
</p>

<p>
  <b>Token expiry:</b>
  <%=h @author.token_expiry %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
