<%= error_messages_for :comment %>

<%- form_for :comment, @comment, :url => article_comments_path do |f| -%>

  <fieldset id="new-comment">
    <legend>New comment</legend>

    <div class="column span-8">
      <div>
        <%= f.label :content, "Content" %>
        <%= f.text_area :content %>
      </div>    

      <div>
        <%= f.label :homepage, "Homepage" %>
        <%= f.text_field :homepage, :class => 'text' %>
      </div>

      <div>
        <%- unless session.user -%>
        <%= f.label :author_email, "Email" %>
        <%= f.text_field :author_email, :class => 'text' %>
        <%- else -%>
        <p><span class="alt">by</span> <%= session.user %></p>
        <%- end -%>
      </div>
    </div>
  
  </fieldset>

  <p>
    <%= f.submit "Post new comment", :disable_with => 'posting ...' %>
  </p>

  <%= link_to 'Back', article_path(@comment.article) %>
  
<%- end -%>
