<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>The Railsbrothers Blog: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'blueprint/screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <%= stylesheet_link_tag 'blueprint/plugins/fancy-type/screen.css' %>

    <!--[if IE]><link rel="stylesheet" href="stylesheets/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- Import fancy-type plugin for the sample section. -->
    <%= stylesheet_link_tag 'bros_blog' %>
  </head>
  <body>

  	<div class="container">
  	  <div id="header" class="prepend-1 append-1">
    		<div class="prepend-1"><h1 id="blog_title"><%= link_to "The Railsbrothers Blog", root_path %></h1></div>
        <div class="column span-14 prepend-1"><h2 id="subline" class="alt">&lt;think first, code later&gt;</h2></div>
  		  <%- if session.user -%>
        <p>Welcome <span class="alt"><%= session.user.email %></span></p>
        <%- end -%>
  		  <hr />
  		</div>

  		<div class="column span-22 prepend-1 append-1">

    		<div class="column span-13 prepend-1 colborder">

            <%- if flash[:notice] -%>
            <div class="notice"><%= flash[:notice] %></div>
            <%- end -%>

            <%= yield  %>

    		</div>

    		<div class="column span-7 last">
    			<h3>Navigation</h3>
    		</div>

  		</div>

    </div>

  </body>
</html>
