<%- form_for @author, :url => session_path do |f| -%>
  <fieldset id="login">
    <legend>Login</legend>
    
    <div class="column span-8">
      <div>
        <%= f.label :email, "Email" %>
        <%= f.text_field :email, :class => 'text' %>
      </div>    

      <div>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, :class => 'text' %>
      </div>
    </div>
    
  </fieldset>
  <%= f.submit "Login", :disable_with => 'Logging in ...' %>
<%- end -%>