<div class="article">
  <div><span><%= link_to 'Edit', edit_article_path(article) %>&nbsp;|&nbsp;<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></span><h3><%=h article.title %></h3></div>
  <div><p>written by <strong><%=h article.author.email %></strong>, <%=h time_ago_in_words(article.created_at) %> ago</p></div>
  <p><%=h article.content %></p>
  <hr />
</div>
